/*
Versoin: 2.0 
Zweck: Formatierung bestimmter html-datein -- wird für weitere Tabellen benötigt
Datum: 12.02.2015
*/

/* Schattenkasten */
#main {
    position: left;
    width: 95%;
    margin: 0px 1% 0em;
    background: #FFA500;
    display: inline-block;
    -moz-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2)
    }
    
#bottom {
    position: left;
    width: 95%;
    margin: 1em 1% 2em;
    background: #ddd;
    text-align: right;
    display: inline-block;
    -moz-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3)
    }
/*Scroll*/
#scroll{
	overflow:scroll;
	position: left;
	width: 95%;
	height:600px;
	margin: 0px 1% 0em;
	position: left;
	text-align: left;
	}

#tablescroll{
	position: left;
    width: 95%;
	margin: 0px 1% 0em;
	position: left;
	text-align: left;
	}
	
#inscroll{
	position: left;
    width: 100%;
	margin: 0px 0% 0em;
	position: left;
	text-align: left;
	}
	
#userscroll{
	overflow:scroll;
	position: left;
	width: 100%;
	height:550px;
	margin: 0px 0% 0em;
	position: left;
	text-align: left;
	}
    
#projecttable{
	border: 0px solid #FFFFFF;
	position: left;
	margin: 0px 0% 0em;
	text-align: left;
	background-color: #ddd;
	width: 100%;
	padding: 2px;
	table-layout: auto;
	border-spacing: 3px;
	empty-cells: show;
	}	
	
#zellenfarbe{
	background-color: #666;
	color: #FFFFFF;
	}
	
/*Bereiche*/
textarea {
  resize: none;
}

#rechts{
	overflow:scroll;
	float:right;
    width: 45%;
	height:600px;
	margin: 0px 1% 0em;
	text-align: left;

}
#ersteller{
	position: left;
    width: 95%;
	margin: 0px 1% 0em;
	position: left;
	text-align: left;
	}
	
/*Tabbele*/
#table{
	position: left;
    width: 93%;
	margin: 0px 1% 0em;
	position: left;
	text-align: left;
	}
	
#proinftable{
	position: left;
    width: 30%;
	margin: 0px 1% 0em;
	position: left;
	text-align: left;
	}
	
table{
	width: 100%;
	padding: 2px;
	table-layout: auto;
	border: 3px solid gray;
	border-spacing: 6px;
	empty-cells: show;
	}
	
tbody {
    /*background-color: #ddd;*/
    height: 500px;
    overflow: auto;
	}
	
thead > tr, tbody{
    display:block;
	}

th {
	border: 1px solid #000000;
	width: 20%; height:5px;
	background-color: #FFFFFF;
	padding: 2px;
	}
	
td {
	border: 1px solid #000000;
	width: 20%; height: 5px;
	background-color: #FFFFFF;
	padding: 2px;
	}
	

/* Überschrift */
h1 {
	margin: 0em 2% 0em 1%;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 3.5em
    }
	
/*Mitlerweile nicht mehr vorhandenes Suchfenster - wird aber noch anderswo verwendet*/
#search{
	position: left;
	width: 95%;
	margin: 0em 1% 0em 1%;
	font-family: sans-serif;
	font-size: 1.3em;
	color: #333;
	text-align: right;
	background: #fff;}
/*Inhalt*/
h2 {
    position: left;
   width: 95%;
   margin: 0em 1% 0em 1%;
   font-family: sans-serif;
   font-size: 1.3em;
   color: #333;
   text-align: center;
   background: #fff;
    }
h3 {
    position: left;
   width: 95%;
   margin: 0em 1% 0em 1%;
   font-family: sans-serif;
   font-size: 0.9em;
   text-align: center;
   background: #fff;
    }
h4 {
    position: relative;
   width: 80%;
   margin: 0em 10% 0em 10%;
   font-family: sans-serif;
   font-size: 1.4em;
   text-align: center;
   background: #FFA500;
    }
h6 {
	position: left;
   width: 95%;
   margin: 0em 1% 0em 1%;
   font-family: sans-serif;
   font-size: 0.9em;
   text-align: left;
   background: #fff;
	}
	
h7 {
	position: left;
   width: 95%;
   margin: 0em 1% 0em 1%;
   font-family: sans-serif;
   font-size: 2.0em;
   text-align: left;
   background: #fff;
}
p { 
   position: relative;
   width: 95s%;
   margin: 0em 1% 0em;
   text-align: left;
    }

   
}
/* Top*/
#top {
    text-align: center
    }
    
/* Navi */
nav ul, #subnav ul {
    list-style-type: none;
    display: inline-block
    }

nav ul {
    width: 80%;
    margin: 0 1%
    }

nav ul li {
    float: left;
    width: 16%;
    height: 48px;
    line-height: 48px;
    background: #ddd;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease
    }

nav ul li:hover {
    background: #fff
    }

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    }



#cur{
     float: left;
    width: 20%;
    height: 48px;
    line-height: 48px;
    background: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease
    }
